$blue: #4c9fe6;
$red: #e0515f;
$link-hover-color: #00ff00;
$btn-font-weight: 700;
$body-color: $blue;
$border-radius: 50%;
$h2-font-size: 35px;

$table-color: #515153;
$table-bg: #a4a8ac;
$table-cell-padding: 5px;
$table-hover-color: #f2f6fa;
$table-hover-bg: #32485e;

$input-bg: #cdd2d8;
$input-color: #515153;
$input-border-color: $input-color;
$input-border-radius: 7px;
$input-focus-bg: $input-color;
$input-focus-color: $input-bg;
$input-placeholder-color: #141414;
$input-height: 42px;

$progress-border-radius: 4px;
$progress-bar-animation-timing: 5s linear infinite;
$progress-height: 15px;
$progress-bar-bg: #5eb4a9;
$progress-bg: #979595;

$list-group-bg: $input-bg;
$list-group-border-radius: 5px;
$list-group-item-padding-y: 10px;
$list-group-border-color: black;

$spinner-width: 3rem;
$spinner-border-width: 0.3rem;
